<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4f213e973b.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="/footer.css">
</head>
<body>
    <div id="footer">
        <div id="social"  class="box">
            <h1 class="headi">VocabVaani</h1>
            <p class="inner"> Dictionary.com</p>
            <p class="inner"> Thesaurus.com</p>
            <p class="inner"> Rhyme.com</p>
        </div>
        <div id="contact"  class="box">
            <h1 class="headi">Contact Us</h1>
            <div class="mid"> <p>
            <a href="" class="connect"> khushi.agrawal_cs21@gla.ac.in</a><br>
            70176XXXXX<br>
            Mathura,Uttar Pradesh
          </p>
          <p>
            <a href="" class="connect"> kashish.bansal_cs21@gla.ac.in</a><br>
            9045XXXXX<br>
            Mathura,Uttar Pradesh
         </p>
        </div>
         
        </div>
        <div class="follow">
            <h1 class="headi">Follow Us</h1>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
            </div>
                <p class="inner">Get a Word of the Day</p>
                <div>
                <input type="email" placeholder="Enter your email">
                <button type="submit">Sign Up</button>
            </div>
        </div>
        
        
        </div>
    
</body>
</html>