body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


nav {
    background-color: #444;
    padding: 20px; /* Adjusted padding */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    z-index: 4;
}

.img {
    height: 100%; 
    width: auto; 
    padding-right: 0px;
}

.img img {
    width: 5vw;
    height: 6vh;
    object-fit: cover;
}

.name{
    color: #f4f4f4;
            font-size: 50px;
            margin-left: 0px;
            font-family: 'Tilt Prism', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            
}
nav .right{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

nav .right a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    
}

nav .right a:hover {
    background-color: #555;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 20;
    /* background-color: #444; */
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 5;
}
.dropdown #dropdown-btn{
    color: #ccc;
}

.dropdown .dropdown-content a {
    color: #444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}

.dropdown-content a:hover {
    background-color: #555;
    color: #ccc;
}

.dropdown:hover .dropdown-content {
    display: block;
}


section {
    padding: 20px;
}


.search-bar {
    display: flex;
  text-align: center;
  /* left: 50%; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 800px;
   
    
}

input[type="text"] {
    border: none;
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

.material-symbols-outlined {
    padding: 8px;
    cursor: pointer;
    
}