
.min{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 40px;
    padding: 0;
}

.profile-container {
    max-width: 600px;
    margin: 20px auto ;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.profile-info {
    text-align: center;
    columns: #222424;
    font-size: 2rem;
}


.user-details {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


